.footer-container {
    height: 97px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  
  .left-side button {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    opacity: 60%;
  }
  
  .right-side {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    opacity: 60%;
  }
  
  .right-side p {
    margin: 0 30px;
  }
  
  @media screen and (max-width: 768px) {
    .footer-container {
      padding: 0 20px;
    }
  
    .right-side p {
      display: none; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-container {
      height: auto; 
      padding: 10px; 
      flex-direction: column; 
      text-align: center; 
    }
  
    .left-side button {
      margin-bottom: 10px; 
    }
  
    .right-side {
      margin-top: 10px; 
    }
  }
  