.keep-in-touch-container {
    height: 374px;
    background-color: #00A2E1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .keep-in-touch {
    height: 214px;
    width: 440px;
    margin-top: -35px;
  }
  
  .keep-in-touch h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: left;
  }
  
  .keep-in-touch p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 38px;
    text-align: left;
  }
  
  .keep-in-touch input {
    height: 48px;
    width: 440px;
    border-color: #CED3D8;
    border-radius: 12px;
    color: #CED3D8;
    font-size: 20px;
    text-indent: 3vh;
  }
  
  .lets-socialize {
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .lets-socialize h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .lets-socialize a {
    color: #FFFFFF;
    text-align: center; 
    text-decoration: none;
  }
  
  .lets-socialize .social-icon {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .lets-socialize .social-icon a {
    margin-left: 10px; 
  }
  
  @media screen and (max-width: 768px) {
    .keep-in-touch-container {
      height: auto; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .keep-in-touch {
      width: 100%;
      text-align: center;
      margin-top: 20px; 
      margin-bottom: 20px;
    }

    .keep-in-touch h1{
        text-align: center; 
      }

      .keep-in-touch a{
        text-align: center; 
      }
  
    .keep-in-touch input {
      width: 80%; 
    }
  
    .lets-socialize {
      height: auto; 
      text-align: center; 
      margin-top: 20px; 
      margin-bottom: 20px;
    }
  
    .lets-socialize .social-icon {
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .keep-in-touch-container {
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .keep-in-touch {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .keep-in-touch h1{
        text-align: center;
      }

      .keep-in-touch a{
        font-size: 20px;
        text-align: center;
      }
  
    .keep-in-touch input {
      width: 80%;
    }
  
    .lets-socialize {
      height: auto;
      text-align: center;
      margin-top: 20px;
    }
    .lets-socialize p{
        font-size: 20px;
        text-align: center;
      }

    .social-icon {
        height: 32px;
        margin: 0;
    }
  }
  